.wf-loading {
  visibility: hidden !important;
}

body {
	background-color: #f7f7f7;
}

html {
	font-family: 'futura-pt', serif !important;
	line-height: 1.45em !important;
}

.light {
	width: 100%;
	background-color: #ffffff;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin-top: 4em !important;
	margin-bottom: 4em !important;
	padding-top: 4em !important;
	padding-bottom: 4em !important;
}

.candidates {
	margin-top: 0em !important;
}

.project-section {
	margin-top: 4em !important;
}

.links-section {
	margin-bottom: 4em !important;
}

.ui.progress {
	margin-top: 3px !important;
	margin-bottom: 0 !important;
}

.ui.progress .bar {
	min-width: 0 !important;
}

.ui.huge.header {
	font-size: 3em;
	font-weight: 500;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
	text-align: center;
}


.ui.progress > .label {
	color: rgba(0, 0, 0, 0.87) !important;
	font-family: 'Open Sans', sans-serif;
}

.center {
	text-align: center !important;
}

.massive {
	width: 75%;
	margin: 1em 12.5%;
}

.top {
	margin-top: 8em;
}

.ui.fixed.menu, .ui[class*="top fixed"].menu {
    border-top: none;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    z-index: 99999999999;
}

.ui.secondary.pointing.menu {
	border-bottom: none;
}

.ui.secondary.pointing.menu .item {
	margin: 0;
}

.ui.grid {
	margin-bottom: -2rem;
}

.stats {
	margin-top: 2em !important;
}

#tweet {
  width: 400px !important;
}

#tweet iframe {
  border: none !important;
  box-shadow: none !important;
}

.hidden {
	display: none !important;
}